.input-bar {
    display: block;
    width: calc(
        100% - 24px
    ); /*20px [ left & Right ] padding + 4px border [ left & Right ] */
    font-size: 18px;
    font-weight: 300;
    color: #000;
    padding: 5px;
    border: 2px solid #58b455;
    /* margin: 0 auto; */
}

.container-searchbar {
    margin: 1rem 0;
    width: 30vw;
    position: relative;
}
.container-searchbar form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background: transparent;
    border: transparent;
    font-size: 20px;
    color: #58b455;
    cursor: pointer;
    outline: 0;
}

.backBtn {
    display: flex;
    height: 3em;
    width: 180px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
}

.backBtn > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.backBtn:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.backBtn:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}
